name: Test AoC 2018
on: [push]
jobs:
  Test-AoC-2018:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Checking out ${{ github.ref }} from ${{ github.repository }}."
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: '^1.19.1'
      - name: Run test
        run: ./test.sh
      - name: Output Day 10 sample output to summary
        run: |
          echo "###Day 10 Sample Output" >> $GITHUB_STEP_SUMMARY
          echo "```" >> $GITHUB_STEP_SUMMARY
          go run "./10/10.go" < "./10/sample" >> $GITHUB_STEP_SUMMARY
          echo "```" >> $GITHUB_STEP_SUMMARY
      - name: Output Day 10 output to summary
        run: |
          echo "###Day 10 Output" >> $GITHUB_STEP_SUMMARY
          echo "```" >> $GITHUB_STEP_SUMMARY
          go run "./10/10.go" < "./10/input" >> $GITHUB_STEP_SUMMARY
          echo "```" >> $GITHUB_STEP_SUMMARY
